.ProductcardContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.img {
  width: 80px !important;
  margin: auto;
}

.cardContentTotalProductAndQuantity {
  display: flex;
  justify-content: space-around;
}

.input {
  width: 150px;
  height: 26px;
  border-radius: 10px;
  border: 0.5px solid #e0e7fe;
  background-color: #e2e2e2;
  color: #294e6d;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
@media only screen and (max-width: 320px) {
  .input {
    width: 108px;
  }
  .icons {
    font-size: 20px !important;
    align-items: center !important;
    display: flex;
    height: 8vh;
  }
}
